article, .service {
    display: flex;
}

.service_img {
    width: 70px;
    height: 100px;
    margin: 20px;
}
.overall_rate {
    width: 250px;
    height: 100px;
}

table, th, td {
    border: 1px solid black;
}

nav {
    background-color: black; color: white; padding-top: 10px; padding-bottom: 10px;
}

.navTab {
    text-decoration: none; color: white
}